<div id="slideshow">
  <div class="wrapper">
    <ul>
      <li>
        <%= image_tag "slideshow-1.jpg" %>
        <span>Professional Ruby on Rails development</span>
      </li>
      <li>
        <%= image_tag "slideshow-2.jpg" %>
        <span>High Quality code is our priority</span>
      </li>
      <li>
        <%= image_tag "slideshow-3.jpg" %>
        <span>We use only best and newest solutions</span>
      </li>
    </ul>
  </div>
</div>

