<div id="slideshow">
  <div class="wrapper">
    <ul>
      <li>
        <%= image_tag "slideshow-1.jpg" %>
        <span>Professional Ruby on Rails development</span>
      </li>
      <li>
        <%= image_tag "slideshow-2.jpg" %>
        <span>High quality web development</span>
      </li>
      <li>
        <%= image_tag "slideshow-3.jpg" %>
        <span>Constant and effective communication</span>
      </li>
    </ul>
  </div>
</div>
