<div id="features">
  <section>
    <header>
      <span><em>A</em></span>
      <span class="text">High Quality</span>
    </header>
    <p>We know your time is valuable, so we deilver only optimized and well tested code.</p>
  </section>

  <section>
    <header>
      <span><em>B</em></span>
      <span class="text">Performance</span>
    </header>
    <p>We look for the best performance solutions so your code can run smoothly.</p>
  </section>

  <section>
    <header>
      <span><em>C</em></span>
      <span class="text">Time</span>
    </header>
    <p>We meet your deadlines without compromising quality.</p>
  </section>

  <section>
    <header>
      <span><em>D</em></span>
      <span class="text">Best Practices</span>
    </header>
    <p>We are experienced Ruby on Rails developers. We use only verified and effective programming patterns.</p>
  </section>
</div>

<div id="info">
  <section id="intro">
    <header>
      <h1>Welcome!</h1>
    </header>
    <p class="image"><%= image_tag "home.jpg" %></p>
    <p class="lead">CodeGyver is professional software development company based in Poland. We specialize in programming web applications.</p>
    <p>In our daily work we use the excellent Ruby on Rails (RoR) framework with the newest web technologies: HTML5, CSS3, Jquery, Backbone.js. Our programmers are top professionals with many open source contributions.</p>
    <p>If you want an online application, website or ecommerce solution for your business, you are in the right place! You can <%= link_to "contact us here", contact_path %></p>
  </section>

  <section id="testimonials">
    <header>
      <h1>Testimonials</h1>
    </header>
    <div id="slider">
      <ul>
        <li>
          <blockquote>
            <p>CodeGyver has consistently delivered outstanding work. They are highly knowledgeable, proactively communicative, and utterly reliable.</p>
          </blockquote>
          <p class="author"><strong>Brenton Cheng</strong> NBCUniversal</p>
        </li>
        <li>
          <blockquote>
            <p>CodeGyver took our dating portal from a prototype to a real business. I highly recommend them.</p>
          </blockquote>
          <p class="author"><strong>Michał Ziomka</strong> SecondWay Sp z o.o.</p>
        </li>
        <li>
          <blockquote>
            <p>Excellent turnaround time and expert development. We'll surely work again.</p>
          </blockquote>
          <p class="author"><strong>Marcin Nikonczuk</strong> SoInteractive S.A.</p>
        </li>
      </ul>
    </div>
  </section>
</div>
