<h1>What we offer</h1>
<ul class="services_list">
  <li>
    <i class="fi-lightbulb"></i>
    <h2>Ruby on Rails development</h2>
    <p>We specialize in Ruby on Rails development. Whether a custom web application written from scratch or based on a popular open source solution, we'll deliver your solution on a tight deadline without compromising quality. We deliver product on short deadlines without compromising to the quality.</p>
  </li>
  <li>
    <i class="fi-shopping-cart"></i>
    <h2>E-commerce</h2>
    <p>One of the key factors to making your ecommerce business successful is proper software. We implement popular open source systems (Magento, Spree), and can configure anything from a standard storefront to a more sophisticated and flexible solution.</p>
  </li>
  <li>
    <i class="fi-page-edit"></i>
    <h2>Content management systems</h2>
    <p>We develop CMS systems using popular open source software (Refinery CMS, ActiveAdmin). Let us know your needs, to advise you the best solution for your company.</p>
  </li>
  <li>
    <i class="fi-tablet-portrait"></i>
    <h2>Website interface</h2>
    <p>We use the newest solutions in layout slicing (HTML5/CSS3), including mobile-friendly responsive design. We also implement popular layout ready solutions (Twitter Bootstrap, Foundation).</p>
  </li>
  <li>
    <i class="fi-cloud"></i>
    <h2>Server maintenance</h2>
    <p>Server configuration and administration for your app can be done by us. Choose the provider you are comfortable with (e.g. heroku, cloud66 or your VPS/dedicated server) and let us do the rest!</p>
  </li>
  <li>
    <i class="fi-wrench"></i>
    <h2>Custom Web Applications</h2>
    <p>If open source ready systems are not enough, let us talk about it! We deliver custom applications based on your business ideas. Your imagination is the only limit.</p>
  </li>
</ul>
