<h1>What we offer</h1>
<ul class="services_list">
  <li>
    <i class="foundicon-idea"></i>
    <h2>Ruby on Rails development</h2>
    <p>We specialize in Ruby on Rails development. Either it is custom web application written from scratch or based on popular open source solution. We deliver product on short deadlines without compromising to the quality.</p>
  </li>
  <li>
    <i class="foundicon-cart"></i>
    <h2>E-commerce</h2>
    <p>One of the key factor to make your ecommerce business successful, is proper software. We implement popular open source systems (Magento, Spree), either it is standard ecommerce store or more sophisticated and flexible solution.</p>
  </li>
  <li>
    <i class="foundicon-edit"></i>
    <h2>Content management systems</h2>
    <p>We develop CMS systems using popular open source software (Refinery CMS, ActiveAdmin). Let us know your needs, to advise you the best solution for your company.</p>
  </li>
  <li>
    <i class="foundicon-photo"></i>
    <h2>Website interface</h2>
    <p>We use the newest solutions in layout slicing (HTML5/CSS3), including mobile-friendly responsive design. We also implement popular layout ready solutions (Twitter Bootstrap, Foundation).</p>
  </li>
  <li>
    <i class="foundicon-cloud"></i>
    <h2>Server maintenance</h2>
    <p>Server configuration and administration for your app can be done by us. Choose the provider you are comfortable with (e.g. heroku, cloud66 or your VPS/dedicated server) and let us do the rest!</p>
  </li>
  <li>
    <i class="foundicon-tools"></i>
    <h2>Custom Web Applications</h2>
    <p>If open source ready systems are not enough, let us talk about it! We deliver custom applications based on your business ideas. Imagination is the limit here.</p>
  </li>
</ul>
