<h2>AMA</h2>
<p><span>Type:</span> Marketing Agency site</p>
<p><span>Technology:</span> Ruby on Rails 3.2 / Refinery CMS / PostgreSQL</p>
<p><span>Involvement:</span> Build from scratch entirely by us.</p>
<p><span>Link:</span> <%= link_to "weareama.com", "http://weareama.com", target: "_blank" %></p>
<br>
<p>Our responsibility:</p>
<ul>
  <li>Ruby on Rails programming</li>
  <li>HTML/CSS/Jquery slicing (with responsive layout)</li>
  <li>Server installation (heroku)</li>
</ul>
<p>Key features build:</p>
<ul>
  <li>Bespoke Refinery CMS extensions</li>
  <li>Responsive layout</li>
</ul>
