<h2>Calligraphen</h2>
<p><span>Type:</span> Corporate / E-commerce Portal</p>
<p><span>Technology:</span> Ruby on Rails 3.2 / PostgreSQL</p>
<p><span>Involvement:</span> We were part of a team.</p>
<p><span>Link:</span> <a href="http://calligraphen.se" target="_blank">calligraphen.se</a></p>
<br>
<p>Our responsibility:</p>
<ul>
  <li>Ruby on Rails/PostgreSQL programming</li>
  <li>Rspec tests</li>
  <li>HTML/CSS/Jquery slicing</li>
  <li>Server configuration tasks</li>
</ul>
<p>Key features build:</p>
<ul>
  <li>Various admin panel improvements</li>
  <li>Resolving server configuration issues</li>
</ul>
