<h2>Randkowa</h2>
<p><span>Type:</span> Dating portal</p>
<p><span>Technology:</span> Ruby on Rails 3.2 / MySQL</p>
<p><span>Involvement:</span> Build from scratch entirely by us.</p>
<p><span>Link:</span> <%= link_to "randkowa.com", "http://randkowa.com", target: "_blank" %></p>
<br>
<p>Our responsibility:</p>
<ul>
  <li>Ruby on Rails/MySQL programming</li>
  <li>Rspec tests</li>
  <li>HTML/CSS/Jquery slicing</li>
  <li>MySQL procedures</li>
  <li>Server configuration and administration (nginx/passenger)</li>
</ul>
<p>Key features build:</p>
<ul>
  <li>Social site functionality (favorites and banned users, messages inbox/outbox)</li>
  <li>Advanced profile search</li>
  <li>User compatibility test</li>
  <li>Multiple payment gateways</li>
  <li>Advanced admin panel (photo, description mass approval)</li>
  <li>Bespoke, anti-spam newsletter engine</li>
</ul>
