<h1>Projects we made</h1>
<p class="lead">Click on the image to see more.</p>
<ul class="portfolio">
<% @projects.each do |project| %>
  <li>
    <h2><%= link_to project.name, project %></h2>
    <p class="image"><%= link_to image_tag("portfolio/#{project.slug}-logo.png"), project %></p>
    <p class="text"><%= project.description %></p>
  </li>
<% end %>
</ul>
