<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi there!</p>
    <p>You were successfully subscribed to our newsletter at <%= link_to "CodeGyver", root_url %></p>
    <p>We hope that you stay with us!</p>
    <p>Kind regards<br> CodeGyver Team</p>
    <p>-------</p>
    <p>You can always <%= link_to "unsubscribe here", unsubscribe_subscriptions_url(token: @subscription.token) %></p>
  </body>
</html>
