/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
@import "compass/css3/pie";

/* main configuration */
$base-font-size: 13px;
$base-line-height: 21px;
$base-color: #696969;

@include establish-baseline;
@include font-face("Opensans Semibold", font-files("/assets/opensans-semibold-webfont.woff", "/assets/opensans-semibold-webfont.ttf"), "/assets/opensans-semibold-webfont.eot");

/* ie configuration */
$pie-behavior: url("/PIE.htc");
$pie-base-class: pie-element;
.pie-element {
  @include pie-element;
}

/* main elements */
body {
  background: #000;
  color: $base-color;
  font-family: 'Trebuchet MS', sans-serif;
}
a {
  color: #60b000;
  outline: none;
}
h1 {
  @extend .text-header;
  @extend .text-border;
  @include adjust-font-size-to(40px);
}
h2 {
  @extend .text-header;
  @include adjust-font-size-to(20px);
}
h3 {
  @extend .text-header;
  @include adjust-font-size-to(16px);
  padding-bottom: .5em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
button {
  background: #fff;
  border: none;
  font: 1em 'Trebuchet MS', sans-serif;
}
button {
  overflow: visible;
  white-space: nowrap;
  -webkit-border-fit: lines;
  @include inline-block;
  padding: 5px 15px;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

/* main classes */
.wrapper {
  width: 940px;
  margin: 0 auto;
}
.font-opensans-semibold {
  font-family: "Opensans Semibold";
  letter-spacing: -1px;
}
.link-decoration {
  &:hover {
    text-decoration: none;
  }
}
.link-no-decoration {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.right {
  float: right;
}
.text-header {
  color: #000;
  @extend .font-opensans-semibold;
}
.text-border {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.legend {
  padding-bottom: 20px;
}
.field {
  @include pie-clearfix;
  padding-bottom: 5px;
  label {
    float: left;
    width: 100px;
    font-style: italic;
    &.message {
      clear: both;
      float: none;
      display: block;
      width: auto;
      padding-left: 100px;
      color: #8a1f11;
    }
  }
  input, textarea {
    float: left;
    border: 1px solid #e5e5e5;
    padding: 3px 5px;
    width: 265px;
  }
  textarea {
    width: 510px;
    height: 150px;
    resize: none;
  }
}
.actions {
  overflow: hidden;
  padding-top: 10px;
  button {
    float: right;
    background: #60b000;
    color: #fff;
    font-weight: bold;
  }
}


#error_explanation {
  padding: 1em;
  margin-bottom: 1em;
  background: #f0f0f0;
  h2 {
    @include adjust-font-size-to(16px);
    padding-bottom: .5em;
  }
  ul {
    padding-left: 1em;
  }
  li {
    list-style: square;
  }

}

/*#map {
  margin-top: 20px;
  width: 100%;
  height: 300px;
}*/

/* main elements */
#header {
  background: transparent url("bg.png") repeat 0 0;
  .wrapper {
    @include pie-clearfix;
    padding: 30px 0;
  }
  #logo {
    float: left;
  }
  nav {
    @include pie-clearfix;
    float: right;
    padding: 15px 0 30px;
    text-align: center;
    text-transform: uppercase;
    @extend .font-opensans-semibold;
    a {
      float: left;
      margin-left: 40px;
      text-decoration: none !important;
      &:first-child {
        margin-left: 0;
      }
      &:hover, &.current {
        em {
          color: #497e04;
        }
        span {
          color: #fff;
        }
        &#home_link .icon {
          background-position: 50% -36px;
        }
        &#news_link .icon {
          background-position: 50% -108px;
        }
        &#portfolio_link .icon {
          background-position: 50% -180px;
        }
        &#services_link .icon {
          background-position: 50% -252px;
        }
        &#contact_link .icon {
          background-position: 50% -324px;
        }
      }
      em {
        display: block;
        @include adjust-font-size-to(20px, 1);
        color: #bbb;
      }
      span {
        display: block;
        @include adjust-font-size-to(12px, 0.6667);
        color: #666;
      }
      .icon {
        margin-top: 5px;
        height: 36px;
        background: url('menu.png') no-repeat 50% 0;
      }
      &#news_link .icon {
        background-position: 50% -72px;
      }
      &#portfolio_link .icon {
        background-position: 50% -144px;
      }
      &#services_link .icon {
        background-position: 50% -216px;
      }
      &#contact_link .icon {
        background-position: 50% -288px;
      }
    }
  }
}

.home {
  #content {
    padding-top: 0;
    background: transparent;
  }
  #slideshow {
    position: relative;
    background: url('slideshow-bg.png') repeat-x 0 0;
    ul {
      overflow: hidden;
      height: 423px;
      background: url('slideshow.png') no-repeat 0 0;
      li {
        width: 100%;
        height: 100%;
      }
      span {
        text-align: center;
        color: #fff;
        @extend .font-opensans-semibold;
        @include adjust-font-size-to(55px);
        position: absolute;
        top: 50%;
        left: 300px;
        height: 160px;
        margin-top: -80px;
      }
    }
    #slideshow_nav {
      position: absolute;
      bottom: 30px;
      left: 50%;
      z-index: 200;
      overflow: hidden;
      span {
        float: left;
        overflow: hidden;
        text-indent: -99em;
        width: 16px;
        height: 16px;
        margin: 0 2px;
        background: url('slideshow-control.png') no-repeat 0 0;
        cursor: pointer;
        &.cycle-pager-active {
          background-position: 0 -16px;
        }
      }
    }
  }
  #features {
    @include pie-clearfix;
    margin: 0 -15px;
    section {
      float: left;
      width: 210px;
      padding: 0 15px;
      p {
        padding-top: 20px;
        font-style: italic;
      }
    }
    header {
      display: table;
      @extend .font-opensans-semibold;
      span {
        display: table-cell;
        vertical-align: middle;
      }
      em {
        float: left;
        width: 50px;
        margin-right: 10px;
        background: #60b000;
        @include adjust-font-size-to(34px);
        line-height: 50px;
        text-align: center;
        color: #fff;
        @include border-radius(50%);
      }
      span.text {
        color: #000;
        @include adjust-font-size-to(26px, 1);
      }
    }
  }
  #info {
    @include pie-clearfix;
    padding-top: 40px;
    #intro {
      float: left;
      width: 680px;
      font-style: italic;
      .image {
        float: left;
        padding-right: 20px;
      }
      .lead {
        color: #000;
      }
      p {
        padding-bottom: 1em;
      }
    }
    #testimonials {
      float: right;
      width: 230px;
      h1 {
        border: none;
        margin-bottom: 0;
      }
      #slider {
        position: relative;
      }
      #slider_prev, #slider_next {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 200;
        background: #60b000 url('icon-arrow-up.png') no-repeat 50% 50%;
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
      #slider_prev {
        right: 33px;
        background-image: url('icon-arrow-down.png');
      }
      blockquote {
        padding-bottom: 21px;
        background: url('testimonial.png') no-repeat 20px 100%;
        p {
          padding: 20px;
          background: #f5f5f5;
          font-style: italic;
          color: #000;
        }
      }
      .author {
        strong {
          display: block;
          font-weight: bold;
          color: #000;
        }
      }
    }
  }
}

#content {
  padding-top: 20px;
  background: #305d00 url('line.png') no-repeat 50% 0;
  .inner {
    background: #fff;
  }
  .wrapper {
    @include pie-clearfix;
    padding: 35px 0;
  }
  .services_list {
    @include pie-clearfix;
    margin: 0 -25px 0;
    padding-top: 20px;
    li {
      float: left;
      width: 365px;
      height: 150px;
      padding-left: 80px;
      margin: 0 25px;
    }
    h2 {
      line-height: 1;
      padding-bottom: 10px;
    }
    p {
      font-style: italic;
    }
    i {
      float: left;
      margin-left: -80px;
      @include adjust-font-size-to(54px);
    }
  }
  .left {
    float: left;
    width: 625px;
  }
  .right {
    width: 275px;
    section {
      header {
        @extend .text-header;
        @extend .text-border;
        @include adjust-font-size-to(40px);
      }
      li {
        overflow: hidden;
        font-style: italic;
        span {
          float: left;
          width: 60px;
        }
      }
    }
  }
  .lead {
    padding-bottom: 1em;
  }
  .portfolio {
    @include pie-clearfix;
    margin-right: -70px;
    li {
      float: left;
      width: 350px;
      padding: 0 70px 20px 0;
    }
    .image {
      overflow: hidden;
      @include box-shadow(0 0 5px #777);
      a, img {
        float: left;
      }
    }
    a {
      @extend .link-no-decoration;
      text-decoration: none;
    }
    .text {
      padding: 15px 0;
    }
  }
  .project {
    .content, .images {
      @include pie-clearfix;
    }
    .responsibility, .features {
      float: left;
    }
    .responsibility {
      width: 375px;
    }
    .lead {
      span {
        float: left;
        width: 90px;
        font-weight: bold;
      }
    }
    .content {
      @extend .text-border;
      padding: 1em 0 2em;
      margin-bottom: 2em;
    }
    .images {
      margin: 0 -10px;
      a {
        float: left;
        padding: 10px;
      }
      img {
        float: left;
        @include box-shadow(0 0 5px #777);
      }
    }
    ul {
      padding-left: 1em;
      list-style: square;
    }
  }
  #posts {
    article {
      padding: 2em 0;
      border-top: 1px solid #e5e5e5;
    }
    article:first-child {
      padding-top: 1em;
      border-top: none;
    }
    h2 {
      @include adjust-font-size-to(24px, 1);
      a {
        color: #000;
        @extend .link-no-decoration;
      }
    }
    .date {
      padding-bottom: 1em;
    }
  }
}

.pagination {
  padding-top: 2em;
  text-align: center;
  span.current, a {
    color: #fff;
    @include inline-block;
    @extend .font-opensans-semibold;
    padding: 0 7px;
    background: #60b000;
    @include adjust-font-size-to(16px, 1.3333);
    color: #fff;
    text-decoration: none !important;
  }
  span.current {
    background: #696969;
  }
}

#bottom {
  background: transparent url("bg2.png") repeat 0 0;
  .wrapper {
    @include pie-clearfix;
    padding: 40px 0;
  }
  section {
    float: left;
    width: 220px;
    padding-left: 30px;
    &:first-child {
      width: 260px;
      padding-left: 0;
    }
    &.short {
      width: 150px;
    }
  }
  header {
    padding-bottom: 5px;
    color: #fff;
    @extend .font-opensans-semibold;
    @include adjust-font-size-to(26px);
  }
  ul {
    @include pie-clearfix;
    li {
      display: block;
      padding: 3px 0;
      border-bottom: 1px solid #1f1f1f;
      &:first-child {
        border-top: 1px solid #1f1f1f;
      }
      em {
        display: block;
        padding-left: 15px;
        margin-left: -15px;
        background: url("icon-list.png") no-repeat 0 50%;
      }
      span {
        float: left;
        width: 65px;
      }
      a {
        color: #fff;
        @extend .link-decoration;
      }
    }
    &.list {
      padding-left: 15px;
    }
    &.social_list {
      padding-left: 25px;
      a {
        display: block;
        color: $base-color;
        @extend .link-no-decoration;
        span {
          float: left;
          height: 20px;
          width: 20px;
          margin-left: -25px;
          padding-right: 10px;
          background: url("icons-social.png") no-repeat 0 0;
        }
        &#icon_twitter span {
          background-position: 0 -20px;
        }
        &#icon_github span {
          background-position: 0 -40px;
        }
      }
    }
  }
  form {
    input[type="email"] {
      padding: 5px 10px;
      width: 200px;
    }
    .message {
      padding-left: 0;
      color: #fff;
    }
    button {
      @include background(linear-gradient(#ffffff, #e5e5e5));
      @include pie;
      color: #000;
    }
  }
}

#footer {
  text-align: center;
  padding: 20px 0;
}
